# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask instance folders / settings
instance/
*.db
*.sqlite3

# Configs e segredos
.env
*.env

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# Relatórios ou pastas temporárias
RelatoriosOS/
