<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ReportNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <img src="{{ url_for('static', filename='repotrNet2.png') }}" style="height: 120px;">
        <form id="login-form">
            <input type="email" id="email" placeholder="Email" required><br><br>
            <input type="password" id="password" placeholder="Senha" required><br><br>
            <label style="color: grey">
                <input type="checkbox" id="remember-me"> Lembrar-me
            </label><br><br>
            <button type="submit">Entrar</button>
        </form>

        <p style="color: grey; margin-top: 10px;">
            Não tem uma conta? <a href="/register" style="color: #007bff;">Registre-se</a>
        </p>
    </div>

    <script>
        document.getElementById("login-form").addEventListener("submit", async function (event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            try {
                const response = await fetch("http://127.0.0.1:5000/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email, password }),
                });

                const data = await response.json();

                if (data.success) {
                    // Salva o token no localStorage
                    localStorage.setItem("token", data.token);

                    // Redireciona para a página principal
                    window.location.href = "/";
                } else {
                    alert(data.message || "Login falhou!");
                }
            } catch (error) {
                alert("Erro ao conectar com o servidor.");
            }
        });
    </script>
    
</body>


</html>